<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3 text-center mt-4">
      <h3>Workshop Registration</h3>
      <div class="workshop-form">
        <%= form_for :register, url: :create_register, method: :post do |f| %>
          <%= f.hidden_field :workshop_title, value: "Ruby On Rails"%>
          <div class="form-group mt-3">
            <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
          </div>

          <div class="form-group mt-3">
            <%= f.text_field :email, class: "form-control", placeholder: "Email"  %>
           
          </div>
          <div class="form-group mt-3">
            <%= f.text_field :contact, class: "form-control", placeholder: "Contact"  %>
           
          </div>
          <div class="form-group mt-3">
            <%= f.text_field :collage_name, class: "form-control", placeholder: "Collage Name" %>
           
          </div>
          <div class="form-group mt-3">
            <%= f.text_field :branch, class: "form-control", placeholder: "Branch"  %>
            
          </div>
          <div class="form-group mt-3">
            <%= f.text_field :year, class: "form-control", placeholder: "Year"  %>
          </div>
          <div class="form-group mt-3">
            <%= f.submit "Submit", class: "btn btn-lg contact-btn btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
