<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3 text-center mt-4">
      <h3>Workshop Registration</h3>
      <div class="workshop-form">
        <%= form_for :register ,html: {name: "myForm", onsubmit: "return validateForm()"},  url: :create_register, method: :post do |f| %>
          <%= f.hidden_field :workshop_title, value: "Ruby On Rails"%>
          <div class="form-group mt-3">
            <%= f.text_field :name, class: "form-control", placeholder: "Name" , onblur: "requiredname(this)", id: "name", name: "name"%>
            <p id="errorname" class="text_color"></p>
          </div>

          <div class="form-group mt-3">
            <%= f.text_field :email, class: "form-control", placeholder: "Email", onblur: "requiredemail(this)", id: "email", name: "email" %>
             <p id="erroremail" class="text_color"></p>
          </div>
          <div class="form-group mt-3">
            <%= f.text_field :contact, class: "form-control", placeholder: "Contact", onblur: "requiredcontact(this)", id: "contact", name: "contact"  %>
            <p id="errorcontact" class="text_color"></p>
          </div>
          <div class="form-group mt-3">
            <%= f.text_field :collage_name, class: "form-control", placeholder: "Collage Name", onblur: "requiredcollage(this)", id: "collage", name: "collage"  %>
            <p id="errorcollage" class="text_color"></p>
          </div>
          <div class="form-group mt-3">
            <%= f.text_field :branch, class: "form-control", placeholder: "Branch",  onblur: "requiredbranch(this)", id: "branch", name: "branch"  %>
            <p id="errorbranch" class="text_color"></p>
          </div>
          <div class="form-group mt-3">
            <%= f.text_field :year, class: "form-control", placeholder: "Year", onblur: "requiredyear(this)", id: "year", name: "year"  %>
            <p id="erroryear" class="text_color"></p>
          </div>

          <div class="form-group mt-3">
            <%= f.submit "Submit", class: "btn btn-lg contact-btn btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
