<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

  <!--Footer Links-->
  <div class="container text-center text-md-left">
    <div class="row">

      <!--First column-->
      <div class="col-md-4">
        <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit.</p>
      </div>
      <!--/.First column-->

      <hr class="clearfix w-100 d-md-none">

      <!--Second column-->
      <div class="col-md-2 mx-auto">
        <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">COURSES</h5>
        <ul class="list-unstyled">
          <li>
            <%= link_to "Ruby On Rails",course_full_stack_web_development_in_ruby_on_rails_path %>
          </li>
          <li>
            <%= link_to "Python & Django", course_full_stack_web_development_with_python_django_path %>
          </li>
          <li>
            <%= link_to "Angular", course_complete_front_end_development_using_angular_five_path %>
          </li>
          <li>
            <a href="#">Node Js</a>
          </li>
          <li>
            <%= link_to "PHP With Wordpress", course_web_development_in_php_path %>
          </li>
          <li>
            <%= link_to "Mysql", course_complete_foundation_from_start_to_end_mysql_path %>
          </li>
        </ul>
      </div>
      <!--/.Second column-->

      <hr class="clearfix w-100 d-md-none">
      <!--Fourth column-->
      <div class="col-md-2 mx-auto">
        <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Fourth column-->
      <hr class="clearfix w-100 d-md-none">
       <!--Third column-->
      <div class="col-md-3 mx-auto">
        <h5 class="text-uppercase mb-4 mt-2 font-weight-bold">Newsletter</h5>
        <small>Sign Up for Our Newsletter to get Latest Updates and Offers.</small>
        <div class="subscribe mt-2">
          <form class="mt-2 mt-md-0" action= "/subscribe" method="post">
            <input class="form-control mr-sm-2" type="text" placeholder="Email" aria-label="Search" name="subscribe[email]", required="true">
            <div class="mt-2">
            <button class="subscribe-btn btn my-2 my-sm-0 btn-block" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
      <!--/.Third column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <hr>
  <!--Social buttons-->
  <div class="text-center">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <a class="btn-floating btn-sm btn-fb mx-1">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-sm btn-tw mx-1">
          <i class="fa fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-sm btn-gplus mx-1">
          <i class="fa fa-google-plus"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-sm btn-li mx-1">
          <i class="fa fa-linkedin"> </i>
        </a>
      </li>
    </ul>
  </div>
  <!--/.Social buttons-->

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="http://nsdigitalsolution.com/">nsdigitalsolution.com </a>
  </div>
  <!--/.Copyright-->

</footer>