<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="background-color:rgba(0, 0, 0, 0.55);">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "banner1.jpg", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h1>Self Learning</h1>
        <h3>Minimum 6 hours/day effective learning</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner2.jpg", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h1>Self Learning</h1>
        <h3>Minimum 6 hours/day effective learning</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner3.jpg", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h1>Self Learning</h1>
        <h3>Minimum 6 hours/day effective learning</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner4.jpg", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h1>Self Learning</h1>
        <h3>Minimum 6 hours/day effective learning</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="grid-section">
  <!-- <div class="mbr-overlay" style="background-color: rgb(70, 80, 82); opacity: 0.7;"></div> -->
  <div class="container">
    <div class="row">  
      <div>
        <h3 class="text-md-center">OUR LATEST COURSES</h3>
        <hr style="border:2px; height:5px;background-color: #f00;">
      </div>
    </div>
    <div class="row mt-4 course-item-row ">
      <div class="col-md col-sm">
        <div class="card">
          <%= image_tag "rails.jpg", class: "card-img-top" %>
          <div class="card-body">
            <p class="card-title text-justify">Full Stack Web Development in Ruby on Rails</p>
            <% if !current_user.present?%>
              <%= link_to new_user_session_path, class: "btn btn-primary" do %>
               <i class="fa fa-eye"></i> View Details
              <% end %> 
            <%else%>
              <%= link_to '/course/full-stack-web-development-in-ruby-on-rails',class: "btn btn-primary" do %>
                <i class="fa fa-eye"></i> View Details
              <% end %>
            <%end%>  
          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="card">
          <%= image_tag "ng5_new.jpg", class: "card-img-top" %>
          <div class="card-body">
            <p class="card-title text-justify">Complete Front End Development Using Angular5</p>
            <% if !current_user.present?%>
              <%= link_to new_user_session_path, class: "btn btn-primary" do %>
               <i class="fa fa-eye"></i> View Details
              <% end %> 
            <%else%>
              <%= link_to '/course/complete-front-end-development-using-angular-five', class: "btn btn-primary" do %>
               <i class="fa fa-eye"></i> View Details
              <% end %> 
            <%end%> 
          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="card">
          <%= image_tag "mysql.png", class: "card-img-top" %>
          <div class="card-body">
            <p class="card-title text-justify">Complete Foundation from Start to End MySQL</p>
            <% if !current_user.present?%>
              <%= link_to new_user_session_path, class: "btn btn-primary" do %>
               <i class="fa fa-eye"></i> View Details
              <% end %> 
            <%else%>
               <%= link_to '/course/complete-foundation-from-start-to-end-mysql', class: "btn btn-primary" do %>
                 <i class="fa fa-eye"></i> View Details
              <% end %>
            <% end %>  
          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="card">
          <%= image_tag "django.jpg", class: "card-img-top" %>
          <div class="card-body">
            <p class="card-title text-justify">Full Stack Web Development with Python Django</p>
            <% if !current_user.present?%>
              <%= link_to new_user_session_path, class: "btn btn-primary" do %>
               <i class="fa fa-eye"></i> View Details
              <% end %> 
            <% else %>
              <%= link_to '/course/full-stack-web-development-with-python-django', class: "btn btn-primary" do %>
                <i class="fa fa-eye"></i> View Details
              <% end %>
            <% end %>  
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 course-item-row">
      <div class="col-md-3 col-sm-3">
        <div class="card">
          <%= image_tag "phpwp.png", class: "card-img-top" %>
          <div class="card-body">
            <p class="card-title text-justify">Web Development in PHP</p>
            <% if !current_user.present?%>
              <%= link_to new_user_session_path, class: "btn btn-primary" do %>
               <i class="fa fa-eye"></i> View Details
              <% end %> 
            <% else %>
              <%= link_to '/course/web-development-in-php',class: "btn btn-primary" do %>
               <i class="fa fa-eye"></i> View Details
              <% end %>
            <% end %>  
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="card">
          <%= image_tag "node.jpg", class: "card-img-top" %>
          <div class="card-body">
            <p class="card-title text-justify">NODE JS Development</p>
            <% if !current_user.present?%>
              <%= link_to new_user_session_path, class: "btn btn-primary" do %>
               <i class="fa fa-eye"></i> View Details
              <% end %> 
            <% else %>
              <%= link_to '/course/web-development-in-php', class: "btn btn-primary" do %>
                <i class="fa fa-eye"></i> View Details
              <% end %>
            <% end %>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="grid-section1" style="background-image: url('<%= asset_path("cover_admission.png")%>');">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-1 ">
        <div class="heading-text ">
          <h3 class="text-white">Our Workshops</h3>
        </div>
        <div class="paragraph-text">
          <p class="lead mt-3 text-white">We’re consultants, authors, and teachers for all things content: strategic planning, responsive design and mobile, information architecture, writing, and workflow. During our workshop, your team will gain clarity, focus, and enthusiasm—and most of all, leave with achievable, specific next steps.</p>
        </div>
        <div class="buttons mt-5">
          <%= link_to "Recent Workshop!",recent_workshop_path, class: "btn workshop-btn shadow"%>
          <span>
          <%= link_to "Upcoming Workshop!",upcoming_workshop_path, class: "btn workshop-btn shadow"%></span>
        </div>
      </div>  
    </div>
  </div>
</section>
<% if @review.present? %>
  <section class="grid-section">
    <div class="container">
      <div class="heading-text">
        <h3 class="text-dark review-heading-home">Students Reviews</h3>
      </div>
        <div class="row mt-5">
        <% Review.all.first(5).each do |review| %>
          <div class="col-md-4 review-home-section mt-3">
            <div class="shadow">
              <div class="view overlay">
                <%= image_tag "node.jpg", class: "img-responsive", style: "width:348px; height:285px;"%>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="featured-review">
                <a class="activator waves-effect waves-light pull-right p-2 mt-2 mr-2"><i class="fa fa-share-alt"></i></a>
              
                <h4 class="font-weight-bold p-2 mr-2 mt-2">
                  <% @user.each do |user|%>
                    <%= user.first_name %>
                  <%end%>
                </h4>  
                <hr>
                <p class="ml-2 "><%= truncate(review.message, :length => 80)%></p>
                <div>

                <div class="avg pl-2">
                 <%#= @rating %>
                 <%= rating_for review.course, 'rating', class: "star-home"%>
                </div>  
                </div> 
              </div>
            </div>
          </div>  
        <%end%>  
      </div>  
    </div>  
  </section>
<%else%> 
<%end%> 

<section class="grid-section">
  <div class="container">
    <div class="row">  
      <div class="mt-2 mb-3">
        <h3 class="text-md-center">OUR BLOGS</h3>
        <hr style="border:2px; height:5px;background-color: #f00;">
      </div>
    </div>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <h4><%= image_tag "rails.jpg", class: "card-img-top" %></h4>
        <div class="item-link">
          <%= link_to "Read Full Article", "", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="item">
        <h4><%= image_tag "rails.jpg", class: "card-img-top" %></h4>
        <div class="item-link">
          <%= link_to "Read Full Article", "", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="item">
        <h4><%= image_tag "rails.jpg", class: "card-img-top" %></h4>
        <div class="item-link">
          <%= link_to "Read Full Article", "", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="item">
        <h4><%= image_tag "rails.jpg", class: "card-img-top" %></h4>
        <div class="item-link">
          <%= link_to "Read Full Article", "", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="item">
        <h4><%= image_tag "rails.jpg", class: "card-img-top" %></h4>
        <div class="item-link">
          <%= link_to "Read Full Article", "", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="item">
        <h4><%= image_tag "rails.jpg", class: "card-img-top" %></h4>
        <div class="item-link">
          <%= link_to "Read Full Article", "", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="item">
        <h4><%= image_tag "rails.jpg", class: "card-img-top" %></h4>
        <div class="item-link">
          <%= link_to "Read Full Article", "", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="item">
        <h4><%= image_tag "rails.jpg", class: "card-img-top" %></h4>
        <div class="item-link">
          <%= link_to "Read Full Article", "", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="item">
        <h4><%= image_tag "rails.jpg", class: "card-img-top" %></h4>
        <div class="item-link">
          <%= link_to "Read Full Article", "", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="item">
        <h4><%= image_tag "rails.jpg", class: "card-img-top" %></h4>
        <div class="item-link">
          <%= link_to "Read Full Article", "", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="item">
        <h4><%= image_tag "rails.jpg", class: "card-img-top" %></h4>
        <div class="item-link">
          <%= link_to "Read Full Article", "", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="item">
        <h4><%= image_tag "rails.jpg", class: "card-img-top" %></h4>
        <div class="item-link">
          <%= link_to "Read Full Article", "", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row mr-0 ml-0">
    <div class="col-md">
      <div class="contact-form">
        <div class= "heading">
          <h5 class="text-center mr-3">SEND A MESSAGE</h5>
        </div>
        <div class="form contact-form">
          <form action="/create_contact"  method="post"  name="myForm" onsubmit="return validateForm()">
            <div class="container contact-container">
              <div class="text-center">
                <div class="form-group  mt-5">
                  <input type="text" class="form-control form-control-lg" name="contact[name]" id="name" placeholder="Name" onblur="requiredname(this)"  >
                  <div id="errorname" class="text_color"></div>
                </div>
                <div class="form-group  mt-3">
                  <input type="text" class="form-control form-control-lg" name="contact[email_address]" id="email" placeholder="Email" onblur="requiredemail(this)" >
                  <div id="erroremail" class="text_color"></div>
                </div>
                <div class="form-group  mt-3">
                  <input type="text" class="form-control form-control-lg" name="contact[subject]" id="subject" placeholder="Subject" onblur="requiredsubject(this)" >
                  <div id="errorsubject" class="text_color"></div>
                </div>
                <div class="form-group  mt-3">
                  <textarea  class="form-control form-control-lg" name="contact[message]" id="message" placeholder="Message" rows="5" onblur="requiredmessage(this)" ></textarea>
                  <div id="errormessage" class="text_color"></div>
                </div>
                <div class="form-group mt-3">
                  <button type="submit" class="contact-btn btn btn-block btn-lg shadow">Submit</button>
                </div>  
              </div> 
            </div>   
          </form>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div id="map"></div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      nav: true,
      dots: false,
      items: 4,
      loop: true,
      margin: 15,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true,
      navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
      responsiveClass:true,
      responsive:{
        0:{
          items:1,
          nav:true
        },
        600:{
          items:3,
          nav:false
        },
        1000:{
          items:4,
          nav:true,
          loop:false
        }
      }
    });
  })
  function initMap() {
    var uluru = {lat: 22.7476448, lng: 75.89515319999998};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
  function requiredname(input) 
  {
    if (input.value.length < 1) 
    {
         //red border
      input.style.borderColor = "#e74c3c";
      document.getElementById('errorname').innerHTML="Name Can't be Blank";
    }
    else 
    {
         //green border
      input.style.borderColor = "#2ecc71";
      document.getElementById("errorname").innerHTML=("");
    }
  }
  function requiredemail(input) 
  {
    if (input.value.length < 1) 
    {
     //red border
     input.style.borderColor = "#e74c3c";
     document.getElementById('erroremail').innerHTML="Email Can't br Blank";
         
    }
    else 
    {
      //green border
      input.style.borderColor = "#2ecc71";
      document.getElementById('erroremail').innerHTML="";
    }
  }
  function requiredsubject(input) 
  {
    if (input.value.length < 1) 
    {
     //red border
     input.style.borderColor = "#e74c3c";
     document.getElementById('errorsubject').innerHTML="Subject Can't br Blank";
         
    }
    else 
    {
      //green border
      input.style.borderColor = "#2ecc71";
      document.getElementById('errorsubject').innerHTML="";
    }
  }
  function requiredmessage(textarea) 
  {
    if (textarea.value.length < 1) 
    {
     //red border
     textarea.style.borderColor = "#e74c3c";
     document.getElementById('errormessage').innerHTML="Message Can't br Blank";
         
    }
    else 
    {
      //green border
     textarea.style.borderColor = "#2ecc71";
      document.getElementById('errormessage').innerHTML="";
    }
  }

  // Valdiation of form
  function validateForm() 
  {
    var x = document.forms["myForm"]["name"].value;
    if (x == "") 
    {
      document.getElementById('errorname').innerHTML="Name Can't be blank";
      document.getElementById('erroremail').innerHTML="Email Can't be Blank";
      document.getElementById('errorsubject').innerHTML="Subject Can't be Blank";
      document.getElementById('errormessage').innerHTML="Message Can't be Blank";
      return false;
    }
  }
</script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZO1fKh_fnrQphRnEy7knxPUcOjKQWYPU&callback=initMap">
  </script>

