<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 course-area">
      <div class="course-heading mb-3">
        <h2>Complete Front End Development Using Angular5</h2>
      </div>
      <div class="course-banner">
        <%= image_tag "ngbanner.png", class: "img-fluid" %>
      </div>
      <div class="course-content mt-3 mb-3">
        <h3>Course Content</h3>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  PART ONE: COURSE INTRODUCTION
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Introduction</h5>
                <ul>
                  <li>Introduction to Angularjs</li>
                  <li>Course Overview</li>
                  <li>Environmental Setup and Installation</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  PART TWO: HTML MODULE
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Introduction to HTML</li>
                  <li>Basics of HTML tags</li>
                  <li>HTML Forms </li>
                  <li>HTML Tables</li>
                  <li>HTML Attributes</li>
                  <li>HTML Media</li>
                  <li>Geolocation API</li>
                  <li>Web workers</li>
                  <li>Web Storage</li>
                  <li>Basic Tags Assessments</li>
                  <li>Forms Assessments</li>
                  <li>Tables Assessments</li>
                  <li>Attributes Assessments</li>
                  <li>Advanced Assessments</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  PART THREE: CSS MODULE
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">CSS Introduction</h5>
                <ul>
                  <li>CSS Basics Properties</li>
                  <li>Styling HTML elements with CSS</li>
                  <li>CSS Assessments</li>
                </ul>
                <h5 class="card-title">Bootstrap4 Module</h5>
                <ul>
                  <li>Introduction to Responsive Web Design</li>
                  <li>Introduction to Bootstrap</li>
                  <li>Bootstrap Grid System</li>
                  <li>Bootstrap Components</li>
                  <li>Designing Responsive Web Pages with Bootstrap</li>
                </ul>
                <h5 class="card-title">Bootstrap Assessments</h5>
                <ul>
                  <li>Grid System Assessments</li>
                  <li>Bootstrap Component Basic Assessments</li>
                  <li>Bootstrap Component Advanced Assessments</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  PART FOUR: JAVASCRIPT MODULE
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Javascript Introduction</h5>
                <ul>
                  <li>Basics of Javascript</li>
                  <li>Javascript DOM</li>
                  <li>Javascript Operators</li>
                  <li>Javascript Data Types</li>
                  <li>Javascript Strings</li>
                  <li>Javascript Arrays</li>
                  <li>Javascript Numbers</li>
                  <li>Javascript Assessment One</li>
                  <li>Javascript Assessment Two</li>
                  <li>Javascript Assessment Three</li>
                  <li>Javascript Assessment Four</li>
                  <li>Javascript Assessment Five</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  PART FIVE: TYPESCRIPT
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Typescript</h5>
                <ul>
                  <li>What is Typescript</li>
                  <li>First Typescript Example</li>
                  <li>Basic Data Types & Variables</li>
                  <li>Using Types</li>
                  <li>Variables in Typescript</li>
                  <li>Type Assertion</li>
                  <li>Operators & their types</li>
                  <li>Decision making constructs</li>
                  <li>Loops</li>
                  <li>Using Arrays</li>
                  <li>Functions</li>
                  <li>Writing & Using Classes</li>
                  <li>Constructor Method</li>
                  <li>Inheritance of Classes</li>
                  <li>Type Assertion</li>
                  <li>Abstract Class</li>
                  <li>Working With Interfaces</li>
                  <li>All About Generics</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  PART SIX: ANGULAR INTRODUCTION
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>What is Angular?</li>
                  <li>Angular 5 v/s 4 v/s 2 v/s AngularJS</li>
                  <li>Angular CLI</li>
                  <li>NodeJS Introduction(NPM)</li>
                  <li>Setup of NodeJs and Angular</li>
                  <li>What is Typescript?</li>
                  <li>How does Angular get started?</li>
                  <li>First Angular App</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  PART SEVEN: COMPONENTS OVERVIEW
                </button>
              </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Introduction to Components</li>
                  <li>Creating components</li>
                  <li>Role of AppModule & Component Declaration</li>
                  <li>Registering Components</li>
                  <li>Using Registered Components</li>
                  <li>Creating Components with CLI</li>
                  <li>Multiple components & passing data</li>
                  <li>Nesting Components</li>
                  <li>Working with Component templates</li>
                  <li>Working with Component Styles</li>
                  <li>Understanding Component Selector</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingEight">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  PART EIGHT: COMPONENTS & DATA BINDING
                </button>
              </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Introduction to Modules & Databinding</li>
                  <li>Splitting Apps into Components</li>
                  <li>Property & Event binding overview</li>
                  <li>Binding to Custom Properties</li>
                  <li>Assigning an Alias to Custom Properties</li>
                  <li>Binding to Custom Events</li>
                  <li>Assigning an Alias to Custom events</li>
                  <li>Custom Property and Event Binding Summary</li>
                  <li>Understanding View Encapsulation</li>
                  <li>Using Local References in Templates</li>
                  <li>Getting Access to the Template & DOM with @ViewChild</li>
                  <li>Projecting Content into Components with ng-content</li>
                  <li>Understanding the Component Lifecycle</li>
                  <li>Lifecycle Hooks in Action</li>
                  <li>Lifecycle Hooks & Template Access</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingNine">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                  PART NINE: DIRECTIVE
                </button>
              </h5>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Understanding Directives</li>
                  <li>Using ngIf to Output Data Conditionally</li>
                  <li>Enhancing ngIf with an Else Condition</li>
                  <li>Output Lists with ngFor</li>
                  <li>Styling Elements Dynamically with ngStyle</li>
                  <li>Applying CSS Classes Dynamically with ngClass</li>
                  <li>Creating Basic Attribute Directive</li>
                  <li>Using the Renderer to build Better Attribute Directive</li>
                  <li>More about Renderer</li>
                  <li>Listen to Host Events using HostListener</li>
                  <li>Bind to Host Properties using HostBinding</li>
                  <li>Binding to Directive Properties</li>
                  <li>Behind the scenes of Structural Directives</li>
                  <li>What is ngSwitch?</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                  PART TEN: SERVICES & DEPENDENCY INJECTION
                </button>
              </h5>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Introduction to Dependency Injection</li>
                  <li>Why do we need Services ?</li>
                  <li>Creating a Logging Service</li>
                  <li>Injecting the Logging Service into Components</li>
                  <li>Creating a Data Service</li>
                  <li>Understanding Hierarchical Injector</li>
                  <li>How many Instances of Service?</li>
                  <li>Injecting Services into Services</li>
                  <li>Using Service for Cross-Component Communication</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingEleven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                  PART ELEVEN: TEMPLATE DRIVEN FORM
                </button>
              </h5>
            </div>
            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Introduction to handling forms</li>
                  <li>Why do we need Angular's help?</li>
                  <li>Template Driven(TD) v/s Reactive Approach</li>
                  <li>Creating Template driven Forms & Registering Controls</li>
                  <li>Submitting & Using the Form</li>
                  <li>Understanding Form State</li>
                  <li>Accessing the Form with @ViewChild</li>
                  <li>Adding Validation to check User Input</li>
                  <li>Built-in Validators & Using HTML5 Validation</li>
                  <li>Using the Form State</li>
                  <li>Outputting Validation Error Messages</li>
                  <li>Set Default Values with ngModel Property Binding</li>
                  <li>Using ngModel with Two-Way-Binding</li>
                  <li>Grouping Form Controls</li>
                  <li>Handling Radio Buttons</li>
                  <li>Setting & Patching form values</li>
                  <li>Using Template Driven Form Data</li>
                  <li>Resetting Template Driven Forms</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwelve">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                  PART TWELVE: REACTIVE FORMS
                </button>
              </h5>
            </div>
            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Introduction to Reactive Approach</li>
                  <li>Creating a Reactive Form in Code</li>
                  <li>Syncing HTML and Form</li>
                  <li>Submitting Reactive Forms</li>
                  <li>Adding Validation to Reactive Forms</li>
                  <li>Getting Access to Controls</li>
                  <li>Grouping Controls</li>
                  <li>Arrays of Form Controls</li>
                  <li>Creating Custom Validators</li>
                  <li>Using Error Codes with Reactive Forms</li>
                  <li>Creating Custom Async Validator</li>
                  <li>Reacting to Status or Value Changes</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThirteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                  PART THIRTEEN: ROUTING
                </button>
              </h5>
            </div>
            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>What is Routing?</li>
                  <li>Why do we need a Router?</li>
                  <li>Setting up and Loading Routes</li>
                  <li>Navigating with Router Links</li>
                  <li>Understanding Navigation Paths</li>
                  <li>Styling Active Router Links</li>
                  <li>Navigating Programmatically</li>
                  <li>Using Relative Paths in Programmatic Navigation</li>
                  <li>Passing Parameters to Routes</li>
                  <li>Fetching Route Parameters</li>
                  <li>Fetching Route Parameters Reactively</li>
                  <li>Route Observables</li>
                  <li>Passing Query Parameters and Fragments</li>
                  <li>Retrieving Query Parameters & Fragments</li>
                  <li>Setting up Child(Nested) Routes</li>
                  <li>Configuring the Handling of Query Parameters</li>
                  <li>Redirection & Wildcard Routes</li>
                  <li>Outsourcing the Route Configuration</li>
                  <li>Introduction to Route Guards</li>
                  <li>Protecting Routes with canActivate</li>
                  <li>Controlling Navigation with canDeactivate</li>
                  <li>Passing static data to a Route</li>
                  <li>Resolving Dynamic Data with the resolve Guard</li>
                  <li>Understanding Location strategies</li>
                  <li>Understanding Observables</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFourteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                  PART FOURTEEN: ANGULAR MODULES & OPTIMIZING APPS
                </button>
              </h5>
            </div>
            <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>The idea behind Modules</li>
                  <li>Understanding App Module</li>
                  <li>Understanding Feature Modules</li>
                  <li>Creating a Feature Module</li>
                  <li>Registering Routes in Feature Modules</li>
                  <li>Understanding Shared Modules</li>
                  <li>Creating a Shared Module</li>
                  <li>Creating the Auth Feature module</li>
                  <li>Understanding Lazy Loading</li>
                  <li>How Modules & Services Work Together</li>
                  <li>Understanding the Core Module</li>
                  <li>Creating a Basic Core Module</li>
                  <li>Using Ahead-of-time compilation</li>
                  <li>Using AoT Compilation with CLI</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFifteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                  PART FIFTEEN: HTTP and HTTPClient
                </button>
              </h5>
            </div>
            <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Introduction to Http Requests</li>
                  <li>How HttpRequests Work in SPAs</li>
                  <li>Sending Requests</li>
                  <li>Adjusting Request Headers</li>
                  <li>Sending GET Requests</li>
                  <li>Sending a PUT Request</li>
                  <li>Observable Operators</li>
                  <li>Using Returned Data</li>
                  <li>Catching Http Errors</li>
                  <li>Using 'async' Pipe with Http Requests</li>
                  <li>Introduction to HttpClient</li>
                  <li>Unlocking the HttpClient</li>
                  <li>Request Configuration & Response</li>
                  <li>Requesting Events</li>
                  <li>Setting Headers</li>
                  <li>Http Parameters</li>
                  <li>Progress</li>
                  <li>Interceptors</li>
                  <li>Modifying Requests in Interceptors</li>
                  <li>Multiple interceptors</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSixteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                  PART SIXTEEN: PIPES TO TRANSFORM OUTPUT
                </button>
              </h5>
            </div>
            <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Introduction to Pipes</li>
                  <li>Why are Pipes useful?</li>
                  <li>Using Pipes</li>
                  <li>Parameterizing Pipes</li>
                  <li>Chaining Multiple Pipes</li>
                  <li>Creating a Custom Pipe</li>
                  <li>Parameterizing a Custom Pipe</li>
                  <li>Creating a Filter Pipe</li>
                  <li>Pure & Impure Pipes</li>
                  <li>Understanding 'async' Pipes</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSeventeen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                  PART SEVENTEEN: AUTHENTICATION & ROUTE PROTECTION
                </button>
              </h5>
            </div>
            <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Introduction to Authentication</li>
                  <li>How Authentication works in SPAs</li>
                  <li>About JSON Web Tokens</li>
                  <li>Creating Signup Page & Route</li>
                  <li>Setting up Firebase SDK</li>
                  <li>Signing Users Up</li>
                  <li>Signing Users In</li>
                  <li>Requiring & Sending Token</li>
                  <li>checking & Using Authentication Status</li>
                  <li>Adding Logout Button</li>
                  <li>Route Protection & Redirection Example</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingeighteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeighteen" aria-expanded="false" aria-controls="collapseeighteen">
                  PART EIGHTEEN: ANGULAR ANIMATIONS
                </button>
              </h5>
            </div>
            <div id="collapseeighteen" class="collapse" aria-labelledby="headingeighteen" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Introduction to Angular Animations</li>
                  <li>Animation Triggers & State</li>
                  <li>Switching between States</li>
                  <li>Transitions</li>
                  <li>Advanced Transitions</li>
                  <li>Transition Phases</li>
                  <li>The "void" State</li>
                  <li>Using Keyframes for Animations</li>
                  <li>Grouping Transitions</li>
                  <li>Using Animation Callbacks</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingNineteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                  PART NINETEEN: ANGULAR UNIT TESTING
                </button>
              </h5>
            </div>
            <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Introduction</li>
                  <li>Why Unit Tests?</li>
                  <li>Analyzing the CLI Testing Setup</li>
                  <li>Running Tests with CLI</li>
                  <li>Adding Components and Some Tests</li>
                  <li>Testing Dependencies: Components & Services</li>
                  <li>Simulating Async Tasks</li>
                  <li>Isolated v/s Non-isolated Tests</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Make an enqiry</h3>
        </div>
        <div class="card-body">
          <%= form_for @course_enquiry do |f| %>
            
            <% if @course_enquiry.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@course_enquiry.errors.count, "error") %> prohibited this course_enquiry from being saved:</h2>
             
                <ul>
                <% @course_enquiry.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <%= f.hidden_field :course_name, value: 'Complete Front End Development Using Angular5' %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
              </div>
              <%= f.text_field :name, class: "form-control", "placeholder" => "Your Name", "aria-label" => "Your Name", "aria-describedby" =>"basic-addon1", required:true %>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
              </div>
              <%= f.email_field :email,class: "form-control", "placeholder" => "Your Email", "aria-label" => "Your Email", "aria-describedby" =>"basic-addon1", required:true   %>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
              </div>
              <%= f.text_field :contact,class: "form-control", "placeholder" => "Your Contact", "aria-label" => "Your Contact", "aria-describedby" =>"basic-addon1",required:true  %>
            </div>
            <div class="form-group">
              <%= f.submit "Submit Details", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .course-banner img {height:400px;width:100%;}
  .course-area {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
</style>

<style type="text/css" media="print">
  * { display: none; }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $("body").on("contextmenu",function(){
      return false;
    }); 
  }); 

  document.onkeydown = function(e) {
    if(event.keyCode == 123) {
      return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
      return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
      return false;
    }
    if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
      return false;
    }
  }
</script>