<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 course-area">
      <div class="course-heading mb-3">
        <h2>Complete Foundation from Start to End MySQL</h2>
      </div>
      <div class="course-banner">
        <%= image_tag "mysqlbanner.png", class: "img-fluid" %>
      </div>
      <div class="course-content mt-3 mb-3">
        <h3>Course Content</h3>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  PART ONE: COURSE INTRODUCTION
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Introduction</h5>
                <ul>
                  <li>Introduction to Databases</li>
                  <li>Introduction to RDBMS</li>
                  <li>Introduction to SQL</li>
                  <li>Introduction to MySQL</li>
                  <li>Download and Installation of MySQL</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  PART TWO: MySQL DATA TYPES
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Data Types</h5>
                <ul>
                  <li>BIT</li>
                  <li>BOOLEAN</li>
                  <li>CHAR</li>
                  <li>DATE</li>
                  <li>DATETIME</li>
                  <li>DECIMAL</li>
                  <li>ENUM</li>
                  <li>INT</li>
                  <li>JSON</li>
                  <li>TIME</li>
                  <li>TIMESTAMP</li>
                  <li>VARCHAR</li>
                  <li>Assessment One</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  PART THREE: MySQL DATA MANIPULATION (DML)
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Data Manipulation</h5>
                <ul>
                  <li>MySQL SELECT</li>
                  <li>MySQL DISTINCT</li>
                  <li>MySQL WHERE</li>
                  <li>MySQL AND</li>
                  <li>MySQL OR</li>
                  <li>MySQL LIMIT</li>
                  <li>MySQL IN</li>
                  <li>MySQL BETWEEN</li>
                  <li>MySQL LIKE</li>
                  <li>MySQL ORDER BY</li>
                  <li>MySQL Alias</li>
                  <li>MySQL Join</li>
                  <li>MySQL INNER JOIN</li>
                  <li>MySQL LEFT JOIN</li>
                  <li>MySQL RIGHT JOIN</li>
                  <li>MySQL CROSS JOIN</li>
                  <li>MySQL Self Join</li>
                  <li>MySQL GROUP BY</li>
                  <li>MySQL HAVING</li>
                  <li>MySQL Subquery</li>
                  <li>MySQL UNION</li>
                  <li>MySQL MINUS</li>
                  <li>MySQL INTERSECT</li>
                  <li>MySQL INSERT Statement</li>
                  <li>MySQL Insert Or Update</li>
                  <li>MySQL LAST_INSERT_ID Function</li>
                  <li>MySQL UPDATE</li>
                  <li>MySQL UPDATE JOIN</li>
                  <li>MySQL DELETE</li>
                  <li>MySQL DELETE JOIN</li>
                  <li>MySQL ON DELETE CASCADE</li>
                  <li>MySQL REPLACE</li>
                  <li>Assessments One</li>
                  <li>Assessments Two</li>
                  <li>Assessments Three</li>
                  <li>Assessments Four</li>
                  <li>Assessments Five</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  PART FOUR: MySQL TRIGGERS
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Triggers</h5>
                <ul>
                  <li>Introduction to SQL Trigger</li>
                  <li>MySQL Triggers Implementation</li>
                  <li>Create Trigger in MySQL</li>
                  <li>Managing Triggers in MySQL</li>
                  <li>Create Multiple Triggers For The Same Trigger Event And Action Time</li>
                  <li>Working with MySQL Scheduled Event</li>
                  <li>Modifying MySQL Events</li>
                  <li>Assessments One</li>
                  <li>Assessments Two</li>
                  <li>Assessments Three</li>
                  <li>Assessments Four</li>
                  <li>Assessments Five</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  PART FIVE: MySQL VIEWS
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Views</h5>
                <ul>
                  <li>Introduction to Database View</li>
                  <li>Views in MySQL</li>
                  <li>MySQL CREATE VIEW</li>
                  <li>MySQL Views & WITH CHECK OPTION</li>
                  <li>Creating MySQL Updatable Views</li>
                  <li>LOCAL & CASCADED in WITH CHECK OPTION</li>
                  <li>Managing Views in MySQL</li>
                  <li>Assessments One</li>
                  <li>Assessments Two</li>
                  <li>Assessments Three</li>
                  <li>Assessments Four</li>
                  <li>Assessments Five</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  PART SIX: MySQL ADMINISTRATION
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Administration</h5>
                <ul>
                  <li>MySQL Access Control System</li>
                  <li>Create MySQL Users</li>
                  <li>Change MySQL User Password</li>
                  <li>MySQL GRANT</li>
                  <li>MySQL REVOKE</li>
                  <li>MySQL Backup with mysqldump</li>
                  <li>Maintain Database Tables</li>
                  <li>MySQL SHOW DATABASES</li>
                  <li>MySQL SHOW TABLES</li>
                  <li>MySQL SHOW COLUMNS</li>
                  <li>Assessments One</li>
                  <li>Assessments Two</li>
                  <li>Assessments Three</li>
                  <li>Assessments Four</li>
                  <li>Assessments Five</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Make an enqiry</h3>
        </div>
        <div class="card-body">
          <%= form_for @course_enquiry do |f| %>
            <%= f.hidden_field :course_name, value: 'Complete Front End Development Using Angular5' %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
              </div>
              <%= f.text_field :name, class: "form-control", "placeholder" => "Your Name", "aria-label" => "Your Name", "aria-describedby" =>"basic-addon1" , required:true%>
            </div>
             <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
              </div>
              <%= f.email_field :email, class: "form-control", "placeholder" => "Your Email", "aria-label" => "Your Email", "aria-describedby" =>"basic-addon1", required:true%>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
              </div>
              <%= f.text_field :contact,class: "form-control", "placeholder" => "Your Contact", "aria-label" => "Your Contact", "aria-describedby" =>"basic-addon1", required:true  %>
            </div>
            <div class="form-group">
              <%= f.submit "Submit Details", class: "btn btn-primary btn-block  shadow" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .course-banner img {height:400px;width:100%;}
  .course-area {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
</style>

<style type="text/css" media="print">
  * { display: none; }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $("body").on("contextmenu",function(){
      return false;
    }); 
  }); 

  document.onkeydown = function(e) {
    if(event.keyCode == 123) {
      return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
      return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
      return false;
    }
    if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
      return false;
    }
  }
</script>