<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 course-area">
      <div class="course-heading mb-3">
        <h1>Full Stack Web Development in Ruby on Rails</h1>
      </div>
      <div class="course-banner">
        <%= image_tag "rorbanner.jpg", class: "img-fluid" %>
      </div>
      <div class="course-content mt-3 mb-3">
        <h3>Course Content</h3>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  PART ONE: COURSE INTRODUCTION
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Course Introduction</h5>
                <ul>
                  <li>Introduction to Ruby</li>
                  <li>Introduction to Rails</li>
                  <li>Course Overview</li>
                  <li>Environmental Setup and Installation</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  PART TWO: FRONT END DEVELOPMENT
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Front End Module Introduction</h5>
                <ul>
                  <li>Introduction to Web</li>
                  <li>Introduction to Web pages</li>
                  <li>Introduction to User Interfaces</li>
                </ul>
                <h5 class="card-title">HTML Module</h5>
                <ul>
                  <li>Introduction to HTML</li>
                  <li>Basics of HTML tags</li>
                  <li>HTML Forms </li>
                  <li>HTML Tables</li>
                  <li>HTML Attributes</li>
                </ul>
                <h5 class="card-title">HTML Advanced</h5>
                <ul>
                  <li>HTML Media</li>
                  <li>Geolocation API</li>
                  <li>Web workers</li>
                  <li>Web Storage</li>
                </ul>
                <h5 class="card-title">HTML Assessments</h5>
                <ul>
                  <li>Basic Tags Assessments</li>
                  <li>Forms Assessments</li>
                  <li>Tables Assessments</li>
                  <li>Attributes Assessments</li>
                  <li>Advanced Assessments</li>
                </ul>
                <h5 class="card-title">CSS Introduction</h5>
                <ul>
                  <li>CSS Basics Properties</li>
                  <li>Styling HTML elements with CSS</li>
                  <li>CSS Assessments</li>
                </ul>
                <h5 class="card-title">Bootstrap4 Module</h5>
                <ul>
                  <li>Introduction to Responsive Web Design</li>
                  <li>Introduction to Bootstrap</li>
                  <li>Bootstrap Grid System</li>
                  <li>Bootstrap Components</li>
                  <li>Designing Responsive Web Pages with Bootstrap</li>
                </ul>
                <h5 class="card-title">Bootstrap Assessments</h5>
                <ul>
                  <li>Grid System Assessments</li>
                  <li>Bootstrap Component Basic Assessments</li>
                  <li>Bootstrap Component Advanced Assessments</li>
                </ul>
                <h5 class="card-title">Javascript Introduction</h5>
                <ul>
                  <li>Basics of Javascript</li>
                  <li>Javascript DOM</li>
                  <li>Javascript Operators</li>
                  <li>Javascript Data Types</li>
                  <li>Javascript Strings</li>
                  <li>Javascript Arrays</li>
                  <li>Javascript Numbers</li>
                  <li>Javascript Dates</li>
                  <li>Javascript Conditional Structures</li>
                  <li>Javascript Control Structures</li>
                  <li>Javascript Debugging</li>
                  <li>Javascript Errors</li>
                  <li>Javascript Objects</li>
                  <li>Javascript JSON</li>
                  <li>Javascript Forms and Validations</li>
                  <li>Javascript Cookies</li>
                  <li>Javascript Events</li>
                </ul>
                <h5 class="card-title">Jquery Introduction</h5>
                <ul>
                  <li>Difference between Javascript and Jquery</li>
                  <li>Jquery Events</li>
                  <li>Jquery Callbacks</li>
                  <li>Jquery Chaining</li>
                </ul>
                <h5 class="card-title">Javascript Assessments</h5>
                <ul>
                  <li>Javascript Assessment One</li>
                  <li>Javascript Assessment Two</li>
                  <li>Javascript Assessment Three</li>
                  <li>Javascript Assessment Four</li>
                  <li>Javascript Assessment Five</li>
                  <li>Jquery Assessment One</li>
                  <li>Jquery Assessment Two</li>
                  <li>Jquery Assessment Three</li>
                  <li>Jquery Assessment Four</li>
                  <li>Jquery Assessment Five</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  PART THREE: PROGRAMMING IN RUBY
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Introduction to Ruby</h5>
                <ul>
                  <li>Introduction to Ruby </li>
                  <li>Ruby Features </li>
                  <li>Basic Programming in Ruby </li>
                  <li>Conditional Structures in Ruby </li>
                  <li>Looping Structures in Ruby</li> 
                  <li>Arrays in Ruby </li>
                  <li>Hashes in Ruby </li>
                  <li>Methods in Ruby </li>
                  <li>Methods using parameters in Ruby </li>
                  <li>Object Oriented Programming in Ruby </li>
                  <li>The initialize method </li>
                  <li>Types of variables in Ruby </li>
                  <li>Scope of variables in Ruby</li> 
                  <li>Modules in Ruby </li>
                  <li>Ruby Inheritance and Mixins </li>
                  <li>File operations in Ruby </li>
                  <li>Exception Handling in Ruby </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  PART FOUR: RAILS DEVELOPMENT
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Rails</h5>
                <ul>
                  <li>Introduction to Rails</li> 
                  <li>Why Choose Rails for Web Development </li>
                  <li>The Rails Philosophy</li> 
                  <li>Rails MVC Architecture </li>
                  <li>Developing Rails application from scratch </li>
                  <li>Rails Components</li>
                  <li>Action Controller</li> 
                  <li>Action View </li>
                  <li>Action Dispatcher </li>
                  <li>Active Record </li>
                  <li>Action Mailer</li>
                  <li>Layouts and Rendering in Rails </li>
                  <li>Form Helpers</li> 
                  <li>Rails Routing </li>
                  <li>Resource Routing</li>
                  <li>Nested Routing</li>
                  <li>Custom Routing</li>
                  <li>Namespace Routing</li>
                  <li>Active Record Association </li>
                  <li>One to Many Association</li>
                  <li>One to One Association</li>
                  <li>Many to Many Association</li>
                  <li>Polymorphic Association</li>
                  <li>Active Jobs in Rails </li>
                  <li>Rails Asset Pipeline </li>
                  <li>Rails Scaffolding </li>
                  <li>Using Rails Gems</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  PART FIVE: RAILS DEPLOYMENT
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">GIT & Heroku</h5>
                <ul>
                  <li>Introduction to GIT</li>
                  <li>GIT Structure</li>
                  <li>Working with GIT</li>
                  <li>Deploying over GIT</li>
                  <li>Introduction to Heroku</li>
                  <li>Creating and Deploying Application on Heroku</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Make an enqiry</h3>
        </div>
        <div class="card-body">
          <%= form_for @course_enquiry do |f| %>
            <%= f.hidden_field :course_name, value: 'Complete Front End Development Using Angular5' %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
              </div>
              <%= f.text_field :name, class: "form-control", "placeholder" => "Your Name", "aria-label" => "Your Name", "aria-describedby" =>"basic-addon1" ,required:true  %>
            </div>
             <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
              </div>
              <%= f.email_field :email, class: "form-control", "placeholder" => "Your Email", "aria-label" => "Your Email", "aria-describedby" =>"basic-addon1",required:true  %>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
              </div>
              <%= f.text_field :contact,class: "form-control", "placeholder" => "Your Contact", "aria-label" => "Your Contact", "aria-describedby" =>"basic-addon1",required:true  %>
            </div>
            <div class="form-group">
              <%= f.submit "Submit Details", class: "btn btn-primary btn-block  shadow" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .course-banner img {height:400px;width:100%;}
  .course-area {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
</style>

<style type="text/css" media="print">
  * { display: none; }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $("body").on("contextmenu",function(){
      return false;
    }); 
  }); 

  document.onkeydown = function(e) {
    if(event.keyCode == 123) {
      return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
      return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
      return false;
    }
    if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
      return false;
    }
  }
</script>